@import "../../themes/mixin.less";
.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
}

:global {
    .am-navbar {
        .am-navbar-left,
        .am-navbar-right {
            .am-icon {
                height: 0.44rem;
                width: 0.44rem;
            }
        }
    }
    .am-navbar-title {
      flex: 0 1 50%;
    }
}