@import "../../../themes/mixin.less";
.list_box {
    :global {
        .am-list-body {
            background-color: #eee;
        }
    }
}

.item_box {
    margin-bottom: 0.3rem;

    .item {
        padding: 0.3rem;
        text-align: center;
        line-height: 1.5;
        font-size: 0.28rem;
    }

    .title {
        margin-bottom: 0.3rem;
    }

    .btn_blue {
        // color: #60a69b;
        img {
            width: 3.2rem;
            height: 0.3rem;
        }
    }
}